html {
  font-size: 16px;
}

body {
  font-family: var(--main-font);
  margin: 0;
  font-size: var(--fs-md);
  line-height: 1.6;
  background-color: var(--yellow);
  letter-spacing: 0;
}

.main-container {
  padding-top: 156px;
}

.text-lg {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
}

.text-md {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.text-md-bold {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
}

.text-sm {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.text-sm-bold {
  font-size: 12px;
  font-weight: 800;
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .text-lg {
    font-size: 24px;
  }

  .text-sm,
  .text-sm-bold {
    font-size: 14px;
  }

  .text-md {
    font-size: 16px;
  }
}
