html {
  font-size: 16px;
}

body {
  font-family: var(--main-font);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1 {
  font-size: var(--fs-h1);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1.25;
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

p {
  font-size: var(--fs-body);
}

.small-text {
  font-size: var(--fs-small);
}
