:root {
  --yellow: #f4d04e;
  --grey-950: #111111;
  --grey-500: #6b6b6b;
  --white: #ffffff;

  --main-font: "Figtree", sans-serif;

  --fs-h1: 3.052rem;
  --fs-h2: 2.441rem;
  --fs-h3: 1.953rem;
  --fs-h4: 1.563rem;
  --fs-h5: 1.25rem;
  --fs-body: 1rem;
  --fs-small: 0.8rem;
}
